
.key {
  width: 25%;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #ddd;
  background: #eaeaea;
}

.key:active {
  transition: transform 0.8s ease;
  transform: scale(0.8);
  background: #ccc;
}

